<div class="content">

	<div class="col-md-12">
		<div class="col-md-3">
				<div class="panel">
					<div class="panel-heading"><strong><i class="icon-building"></i> 部门结构</strong></div>
					<div class="panel-body">
						<div id="treeview"></div>
						<a href="/sys/index.php?m=user&amp;f=create" class="btn btn-primary btn-xs">添加成员</a>
						<a href="/sys/index.php?m=tree&amp;f=browse&amp;type=dept" class="btn btn-primary btn-xs">维护部门</a>
						<a href="/sys/index.php?m=setting&amp;f=lang&amp;module=user&amp;field=roleList" class="btn btn-primary btn-xs">角色</a>
					</div>
				</div>
		</div>
		<div class="col-md-9">
			<div class="panel">
				<div class="panel-heading"><strong><i class="icon-plus"></i> 添加成员</strong></div>
				<div class="panel-body">

				</div>
			</div>
		</div>
	</div>

</div>
