<div class="content">

<div class="panel">
	<div class="panel-heading">
		<strong><span class="glyphicon glyphicon-user"></span> 学员列表</strong>
		<div class="pull-right form-search">
			<div class="input-group">
				<input type="text" name="query" id="query" value="" class="form-control search-query" placeholder="请输入姓名">
				<span class="input-group-btn"><input type="submit" id="submit" class="btn btn-primary" value="搜索"></span>
			</div>
		</div>
	</div>
	<table class="table table-hover table-striped table-bordered table-fixed"><thead><tr>
		<th>编号</th>
		<th>真实姓名</th>
		<th>用户名</th>
		<th>性别</th>
		<th>部门</th>
		<th class="visible-lg">加入日期</th>
		<th class="visible-lg">访问次数</th>
		<th>最后登录</th>
		<th>最后IP</th>
		<th>状态</th>
		<th>操作</th>
	</tr></thead><tbody><tr>
		<td>1</td>
		<td>demo</td>
		<td>demo</td>
		<td></td>
		<td>/</td>
		<td class="visible-lg">2014-08-25 13:52:56</td>
		<td class="visible-lg">92</td>
		<td>2015-02-20 18:15:11</td>
		<td>113.121.71.193</td>
		<td><label class="label label-success">正常</label></td>
		<td class="operate"><a>编辑</a> <a>禁用</a> <a>删除</a></td>
	</tr><tr>
		<td>2</td>
		<td>张会计</td>
		<td>zhangsan</td>
		<td></td>
		<td>/</td>
		<td class="visible-lg">2014-08-25 15:27:42</td>
		<td class="visible-lg">1</td>
		<td>2014-08-25 15:27:42</td>
		<td></td>
		<td><label class="label label-success">正常</label> </td>
		<td class="operate"><a>编辑</a> <a>禁用</a> <a>删除</a></td>
	</tr></tbody></table>
	<div class="panel-body text-right">
		<ul class="pagination">
			<li class="disabled"><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
			<li class="active"><a>1 <span class="sr-only">(current)</span></a></li>
			<li><a>2</a></li>
			<li><a>3</a></li>
			<li><a>4</a></li>
			<li><a>5</a></li>
			<li><a aria-label="Next"><span aria-hidden="true">»</span></a></li>
		</ul>
	</div>
</div>
